<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- googlefonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="dist/app.css">
  <title>Barber shop</title>
</head>
<body>
  <div class="vue" id="app">

    <header >
      <div class="wrapper container-full">
        <!-- navbar -->
        <nav class="container-full" v-scroll="handleScroll">
            <!-- menu fisso -->
            <div class="menu container-small">
              <div class="logo">
                <a href="#"><img id="logo" src="img/avadabarbers-logo-x2-300x104.png" alt=""></a>
              </div>
              <div class="icone-menu">
                <a class="pd-lf-20" href="#"><i id="cart" class="fas fa-shopping-cart"></i></a>
                <a  @click="menuOn" class="pd-lf-20" href="#"><i id="hamburgher" class="fas fa-bars"></i></a>
              </div>
            </div>
            <!-- menu fisso -->
            <!-- flying menu -->
            <div :class="display">
              <div class="fly-menu">
                <ul>
                  <li v-for="(item,index) in menuItems"><a href=""><span>{{item}}</span></a></li>
                </ul>
                <div class="bgs-items"></div>
                <div class="bgs-menu"></div>
              </div>
            </div>
            <!-- flying menu -->
          </nav>
        <!-- navbar -->
        <!-- hero -->
        <div class="hero container-full container-small">
          <div class="hero-left">
            <a href="#"><h1 class="mrg-bttm-40">Barber Shop</h1></a>
            <div class="mrg-bttm-40">
              <div class="separator1"></div>
            </div>
            <p class="mrg-bttm-40"><span>The Pinnacle of Male Grooming</span></p>
            <div>
              <a class="btn-big" href="#">Learn more</a>
            </div>
          </div>
          <div class="hero-wright">
            <div class="barber">
              <img src="img/avadabarbers_hero_focalmirror-600x825.png" alt="">
            </div>
          </div>
        </div>
        <!-- hero -->
      </div>
    </header>


    <main>
      <!-- barbers -->
      <section id="pro-barbers" class="container-full">
        <div class="container-small">
          <h2 class="pd-bt-20">Award winning</h2>
          <h3 class="pd-bt-30">Pro Barbers</h3>
          <div class="pd-bt-30">
            <a class="btn-big" href="#">Meet your new barber</a>
          </div>
        </div>
      </section>
      <!-- barbers -->

      <!-- separatore -->
      <div class="separator bg-brown container-full">
        <svg  xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" style="fill:#ffffff;padding:0;"><path d="M0 100 L50 2 L100 100 Z"></path></svg>
      </div>
      <!-- separatore -->

      <!-- servizi -->
      <section id="services" class="container-full">
        <div class="container-small ">
          <h2 class="pd-bt-20">mens grooming</h2>
          <h3 class="pd-bt-30">Services</h3>
          <div class="flex-box pd-bt-40">
            <div class="box" v-for="element in services" >
              <div class="item pd-bt-20">
                <img :src="element.img" alt="trimmer">
              </div>
              <h4 class="pd-bt-30"><a href="#">{{element.title}}</a></h4>
              <div class="text-box"><p>{{element.description}}</p></div>
            </div>
          </div>
          <div class="pd-bt-30">
            <a class="btn-big" href="#">read about our services</a>
          </div>
        </div>
      </section>
      <!-- servizi -->

      <!-- separatore -->
      <div class="separator bg-white container-full">
        <svg  xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" style="fill:#141415;padding:0;"><path d="M0 100 L50 2 L100 100 Z"></path></svg>
      </div>
      <!-- separatore -->

      <!-- prodotti -->
      <section id="products" >
        <div class="titoli">
          <h2 class="pd-bt-20">we have you covered</h2>
          <h3 class="pd-bt-30">Avada Grooming Products</h3>
        </div>
        <div class="cards">
          <div class="flex-box pd-bt-40">
            <div class="card" v-for="element in products">
              <div class="item pd-bt-20">
                <img :src="element.img" alt="trimmer">
              </div>
              <h4 class="pd-bt-30"><a href="#">{{element.name}}</a></h4>
              <div class="text-box"><p>{{element.prize}}</p></div>
            </div>
          </div>
          <div class="pd-bt-30">
            <a class="btn-big" href="#">shop our product range</a>
          </div>
        </div>



      </section>
      <!-- prodotti -->

      <!-- prodotti del mese -->
      <div id="this-month-prd" class="container-full">
        <div class="flex-box container-small">
          <div class="sx">
            <div class="flex-box image">
              <img src="img/shaving_butter-400x400.png" alt="">
            </div>
          </div>
          <div class="dx">
            <h2 class="pd-bt-20">this months featured product</h2>
            <h3 class="pd-bt-30">Shaving Butter</h3>
            <div class="text-box pd-bt-20">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet enim est, vel molestie dolor ultrices ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
              <a class="btn-big" href="#">buy now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- prodotti del mese -->

      <!-- reviews -->
      <section id="reviews" class="container-full">
        <div class="container-small">
          <h2 class="pd-bt-20">what people say</h2>
          <h3 class="pd-bt-30">Reviews</h3>
          <div class="flex-box pd-bt-40">
            <div class="box" v-for="element in reviews">
              <div class="text-box pd-bt-20">
                <p>{{element.text}}</p>
              </div>
              <div class="item pd-bt-20">
                <img class="circle" :src=" 'img/avadabarbers-trimcut-gallery' + element.img + '.jpg'" alt="people">
              </div>
              <div class="text-box"><p><strong>{{element.name}}</strong></p></div>
            </div>
          </div>
        </div>
      </section>
      <!-- reviews -->

      <!-- separatore -->
      <div class="separator bg-grey container-full">
        <svg  xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" style="fill:#ffffff;padding:0;"><path d="M-1 -1 L50 99 L101 -1 Z"></path></svg>
      </div>
      <!-- separatore -->

      <section id="blog-posts" class="container-full">
        <div class="container-small">
          <h2 class="pd-bt-20">tales from the barber shop</h2>
          <h3 class="pd-bt-30">Recent Blog Posts</h3>
          <div class="flex-box pd-bt-40">
            <div class="box">
              <div class="item ">
                <a href=""><img class="" src="img/avadabarbers-second-blog-700x441.jpg" alt="people"></a>
              </div>
              <h4 class="pd-bt-30 pd-tp-20"><a href="#">Avada Barbers Now Open</a></h4>
              <div class="text-box pd-bt-20">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut dapibus magna. Praesent semper,</p>
              </div>
            </div>
            <div class="box">
              <div class="item">
                <a href=""><img class="" src="img/avadabarbers-choosing-blog-700x441.jpg" alt="people"></a>
              </div>
              <h4 class="pd-bt-30 pd-tp-20"><a href="#">Choosing The Right Barber</a></h4>
              <div class="text-box pd-bt-20">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut dapibus magna. Praesent semper,</p>
              </div>
            </div>
            <div class="box">
              <div class="item">
                <a href=""><img class="" src="img/avadabarbers-ourservice-blog-700x441.jpg" alt="people"></a>
              </div>
              <h4 class="pd-bt-30 pd-tp-20"><a href="#">Quick Service Guide</a></h4>
              <div class="text-box pd-bt-20">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut dapibus magna. Praesent semper,</p>
              </div>
            </div>
          </div>
          <div class="pd-bt-30">
            <a class="btn-big" href="#">read more from our blog</a>
          </div>
        </div>

      </section>
    </main>


    <footer class="container-full parallax">
      <div class="container-small">
        <div class="flex-box pd-bt-40">
          <div class="box">
            <div class="item ">
              <a href=""><img src="img/avadabarbers_footer_shop_image-600x468.png" alt="people"></a>
            </div>
            <div class="pd-bt-30">
              <a class="btn-small" href="#">shop our range now</a>
            </div>
          </div>
          <div class="box">
            <div class="item">
              <a href=""><img class="logo-footer pd-bt-20" src="img/avadabarbers-logo-x2-200x70.png" alt="people"></a>
            </div>
            <div class="text-box pd-bt-20">
              <p>Avada Barbers<br>123 New York Street<br>New York City<br>info@yourwebsite.com<br>+1 (555) 555-1212</p>
            </div>
            <h5 class="pd-bt-30 pd-tp-20">follow us</h5>
            <div class="socials flex-box">
              <ul class="flex-box">
                <li v-for="item in socials" :key="item.icon" >
                  <a href=""><i :class="item.icon"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box">
            <div class="item">
              <a href=""><img src="img/avadabarbers_footer_appointment_image-600x468.png" alt="people"></a>
            </div>
            <div class="pd-bt-30">
              <a class="btn-small" href="#">book your appointment</a>
            </div>

          </div>
        </div>
      </div>
    </footer>
  </div>

<script src="src/app.js" charset="utf-8"></script>
</body>
</html>
