// bottone back to top in basso a destra
.to-top{
  z-index: 50;
  right: 60px;
  background-color: #333;
  border-radius: 4px 4px 0 0;
  bottom: 0;
  height: 35px;
  position: fixed;
  text-align: center;
  line-height: 35px;
  width: 48px;
  opacity: 0;
}

#toTop:hover {
  background-color: $mainColor;
}
// bottone back to top in basso a destra

// bottoni destra fixed
.dx-btn {
  z-index: 1000000;
  position: fixed;
  right: 14px;
  top: 150px;
  transition: background-color .3s ease-in-out .3s,width 0s ease-in-out .6s,padding 0s ease-in-out .6s;

  .demo-btn {
    margin-bottom: 10px;
  }

  .demo-btn, .cart-btn {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 6px;
    width: 66px;
    height: 66px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    line-height: 1;
    box-shadow: 0 10px 20px 5px rgb(0 0 0 / 15%);

    span svg {
      position: absolute;
      top: 6px;
      right: 16px;
      fill: #33475b;
    }

    .after {
      transform: translateX(60px) scaleX(-1);
    }

    p {
      font-size: 13px;
    }
  }
}

// effetto hover cart icon
.cart-btn span .before {
  transform: translateX(0) scaleX(-1);
  transition: transform .2s cubic-bezier(.21,.6,.35,1);
}

.cart-btn:hover span .before {
  transform: translateX(-60px) scaleX(-1);
  transition: transform .2s cubic-bezier(.21,.6,.35,1);
}
.cart-btn:hover span .after{
  transform: translateX(0px) scaleX(-1);
  transition: transform .2s cubic-bezier(.21,.6,.35,1);
}
// effetto hover cart icon

// effetto hover demo icon
.demo-btn span .before {
  transform: translateX(0) scaleX(-1);
  transition: transform .2s cubic-bezier(.21,.6,.35,1);
}

.demo-btn:hover span .before {
  transform: translateX(-60px) scaleX(-1);
  transition: transform .2s cubic-bezier(.21,.6,.35,1);
}
.demo-btn:hover span .after{
  transform: translateX(0px) scaleX(-1);
  transition: transform .2s cubic-bezier(.21,.6,.35,1);
}
// effetto hover demo icon
