
#pro-barbers {
  padding: 120px 30px;
  background-image: url('../img/avadabarbers-about-introbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
}

#services {
  margin-top: 100px;
  padding: 120px 30px;
  background-color: #ffffff;
  text-align: center;

  & .container-small .box {
    display: inline-block;
    // display: flex;
    // flex-direction: column;
    padding: 30px 50px;
    width: calc(100% / 3);
    text-align: center;
    align-items: center;

    & .item {
      & img{
        vertical-align: top;
        height: auto;
        max-height: 110px;
      }
    }

  }
}

#products {
  position: relative;
  margin-top: 100px;
  padding: 120px 30px;
  text-align: center;
  background-image: url('../img/avadabarbers-reviewsbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  & .card {
    display: inline-block;
    padding: 30px 50px;
    width: calc(100% / 4);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .card img {
      width: 100%;
    }
    & .text-box p {
      color: $mainColor;
    }
  }
}
