
#pro-barbers {
  padding: 120px 30px;
  background-image: url('../img/avadabarbers-about-introbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
}

#services {
  margin-top: 100px;
  padding: 120px 30px;
  background-color: #ffffff;
  text-align: center;

  & .container-small .box {
    display: inline-block;
    // display: flex;
    // flex-direction: column;
    padding: 30px 50px;
    width: calc(100% / 3);
    text-align: center;
    align-items: center;

    & .item {
      & img{
        vertical-align: top;
        height: auto;
        max-height: 110px;
      }
    }

  }
}

#products {
  // position: relative;
  margin-top: 100px;
  padding: 120px 30px;
  text-align: center;
  background-image: url('../img/avadabarbers-reviewsbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  & .card {
    display: inline-block;
    padding: 30px 50px;
    width: calc(100% / 4);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .card img {
      width: 100%;
    }
    & .text-box p {
      color: $mainColor;
    }
  }
}

#this-month-prd {
  background-color: #ffffff;

  & .container-small {
    border-width: 4px 0px 0px;
    border-top: solid 4px $mainColor;
    margin-top: -20px;


    & .sx {
      width: 40%;
      height: 420px;

      & .image {
        background-image: url("../img/avadabarbers-second-blog-700x441.jpg");
        filter: grayscale(100%);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
    & .dx {
      width: 60%;
      display: flex;
      flex-direction: column;
      background-color: #121414;
      padding: 5% 5% 0 5%;
    }
  }
}
