h1 {
  font-size: $fontH1;
  color: $heroTextColor1;
  font-family: "Abril Fatface";
}
h3 {
  font-size: $fontH3;
  color: $h3Color;
  font-family: "Abril Fatface";
  font-weight: 900;
}
h4, h4 a {
  font-size: $fontH4;
  color: $h4Color;
  font-family: "Abril Fatface";
}
h2 {
  font-size: $fontH2;
  color: $h2Color;
  font-family: "Lato";
  text-transform: uppercase;
  font-weight: 900;
}
span {
  color: $spanMenuColor;
  font-size: $fontMenuSpan;
  font-family: "Abril Fatface";
}
p {
  color: $pColor;
  font-size: $fontSpan;
  font-weight: 300;
  line-height: 1.8;
}
