// colors
$mainColor: #be9359;
$heroTextColor1: #dddddd;
$heroTextColor2: #686868;
$h2Color: #ae8652;
$h3Color: #b1b1b1;
$h4Color: #be9359;
$spanColor: #ae8652;
$spanMenuColor: #dddddd;
$pColor: #686868;
$footerColor: #161818;
// colors

// font sizes
$fontH1: 87px;
$fontH2: 16px;
$fontH3: 70px;
$fontH4: 32px;
$fontSpan: 18px;
$fontMenuSpan: 26px;
$fontBtn: 18px;
$fontFollow: 16px;
$fontBtnSmall: 14px;
// font sizes
